.back-link {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #80BDFF;

  &:before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url('../../assets/images/back_arrow.svg');
    background-size: contain;
    background-position: center 1.5px;
    margin-right: 5px;
    transition: 0.2s;
  }
}