.films {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__filter {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    .search-form {
      flex: 0 0 50%;
      margin-right: 20px;
    }

    &-sort-date {
      .btn-sort {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        background-color: transparent;
        color: #80BDFF;
        font-size: 14px;
        cursor: pointer;

        &__desc, &__asc {
          &:before {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url('../../assets/images/filter.svg');
            background-size: contain;
            background-position: center;
            margin-right: 5px;
            transition: 0.2s;
          }
        }
        &__asc {
          &:before {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__cart {
    width: 33.3%;
    margin-bottom: 30px;
    &:not(:nth-child(3n)) {
      margin-right: 30px;
      width: calc(33.3% - 30px);
    }

    &-img {
      width: 100%;
      height: 280px;
      margin-bottom: 10px;
      background-color: gray;
      background-size: 100%;
      background-position: center;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.2s;
    }

    &:hover {
      .films__cart-img {
        background-size: 120%;
      }
    }
  }
}


@media (max-width: 980px) {
  .films {
    justify-content: space-between;
    &__cart {
      width: 47% !important;
      margin-right: 0!important;

      &-img {
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

@media (max-width: 640px) {
  .films {
    &__cart {
      width: 100% !important;
    }

    &__filter {
      .search-form {
        flex: 0 0 100%;
        margin-bottom: 10px;
      }
    }
  }
}