.film-info {
  &__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
  &__description {
    line-height: 22px;
    a {
      display: inline-block;
      margin-right: 5px;
      text-decoration: underline;
    }
  }
}