
.character-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__description {
    line-height: 22px;
  }

  &__text {
    flex: 0 0 calc(90% - 150px);
  }

  &__img {
    flex: 0 0 150px;
    height: 150px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }
}