.search {
  &-form {
    position: relative;
    input {
      width: 100%;
      height: 55px;
      padding-left: 15px;
      box-sizing: border-box;
      font-size: 14px;
      border: none;
      background: #E8E8E8;
      border-radius: 10px;
    }

    &__icon {
      position: absolute;
      width: 24px;
      height: 24px;
      top: calc(50% - 12px);
      right: 10px;

      &-zoom {
        width: 100%;
        height: 100%;
        background-image: url('../../assets/images/zoom.svg');
      }
    }

    &__reset {
      width: 100%;
      height: 100%;
      background-image: url('../../assets/images/clear.svg');
      background-position: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}