body {
  width: 100%;
  min-width: 320px;
  font-size: 14px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}
p, ul, li, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
li {list-style-type: none;}
a {color: inherit;}
img {max-width: 100%;}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}
a { text-decoration: none; }
a, a:hover, a:active, a:visited, a:focus {outline: none;}
input:hover, input:focus, input:active, textarea:focus {outline: none;}
button:focus {outline: none; border: 1px solid inherit;}
select:focus {outline: none;}


.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0;
}

.text {
  &-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  &-description {
    font-size: 14px;
    line-height: 16px;
    color: rgba(118, 118, 118, 0.59);
  }
}